<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Facturaci&oacute;n electr&oacute;nica libre para Colombia por
            Jorels SAS</h2>
        <h3 class="oe_slogan">Electronic Invoicing, Electronic Credit note, Electronic Debit note</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">l10n_co_edi_jorels</h2>
        <h3 class="oe_slogan">Under LGPL license</h3>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-check fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                This module has been tested with the Odoo 12, 13 and 14 and you can use it freely
                under the terms of the LGPL license.
            </p>
            <span class="fa fa-exclamation-triangle fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                Due to DIAN requirements, before installing this module we recommend that you install the OCA
                account_debitnote module for compatibility with debit notes and the OCA web_notify module for
                compatibility with pop-up notifications.
            </p>
            <span class="fa fa-copyright fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                This module has been developed by Jorels Copyright (2019-2022) and you can use it freely and for free,
                however if you want some kind of support, training, etc.; write to <a href="mailto:info@jorels.com">info@jorels.com</a>
                and contact us.
            </p>
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-check fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                Este m&oacute;dulo ha sido probado con Odoo 12, 13 y 14 y puede usarlo
                libremente bajo los t&eacute;rminos de la licencia LGPL.
            </p>
            <span class="fa fa-exclamation-triangle fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                Debido a los requisitos de la DIAN, antes de instalar este m&oacute;dulo, le recomendamos que instale el
                m&oacute;dulo
                account_debitnote de OCA para compatibilidad con notas de d&eacute;bito y el m&oacute;dulo web_notify de
                OCA
                para compatibilidad con notificaciones emergentes.
            </p>
            <span class="fa fa-copyright fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                Este m&oacute;dulo ha sido desarrollado por Jorels SAS Copyright (2019-2022) y puede utilizarlo de forma
                libre y gratuita, sin embargo si desea alg&uacute;n tipo de soporte, capacitaci&oacute;n, etc .; escriba
                a
                <a href="mailto:info@jorels.com">info@jorels.com</a> y cont&aacute;ctenos.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>